<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css'/>
    
    <link rel="stylesheet" href="./assets/css/reset.css">
    <link rel="stylesheet" href="./assets/css/style.css">

     

    <title>Black Tide Interactive</title>
</head>
<body>
    <header>
        <div class="box-name">
            <h1>
                Black Tide Interactive
            </h1>
        </div>
        <div class="box-link">
                <a class="link-page" href="contact.html">Portfolio</a>
        </div>
        <div class="box-link">
                <a class="link-page" href="portfolio.html">Contact</a>
        </div>
        <div class="box-link">
            <a class="link-page" href="index.html">About</a> 
        </div>
    </header>

    <div>
        <section class="block-third">
            <div>
                <h2>About me</h2>
                <img class="portrait" src="http://via.placeholder.com/250x250" alt="Portrait">
                <p>
                    Id ea culpa reprehenderit velit ipsum sit ipsum consequat ad 
                    reprehenderit et elit anim. Laborum laborum cupidatat tempor 
                    consectetur excepteur labore enim aute nisi ad velit. Occaecat 
                    irure ex nostrud qui excepteur consequat esse excepteur 
                    occaecat est deserunt. Anim amet pariatur officia proident 
                    et eu esse pariatur aute officia eu ullamco. 
                    Aute reprehenderit eu excepteur nisi consequat quis.
                </p>
                <br>
                <p>
                    Id ea culpa reprehenderit velit ipsum sit ipsum consequat ad 
                    reprehenderit et elit anim. Laborum laborum cupidatat tempor 
                    consectetur excepteur labore enim aute nisi ad velit. Occaecat 
                    irure ex nostrud qui excepteur consequat esse excepteur 
                    occaecat est deserunt. Anim amet pariatur officia proident 
                    et eu esse pariatur aute officia eu ullamco. 
                    Aute reprehenderit eu excepteur nisi consequat quis.
                </p>
            </div>
        </section>
        <aside>
            <h3>Connect with Me</h3>
        </aside>
    </div>

    <footer>
        copyright Francisco Carrera
    </footer>

</body>
</html>