.sidebar {
    height: 100%;
    width: 120px;
    background-color: #fff;
    position: fixed!important;
    z-index: 1;
    overflow: auto;
    background: #222;
}

.hvr-black{
    color: white;
    background-color: inherit
}

.hvr-black:hover{
    color: #fff!important;
    background-color: #000!important;
}

.btn{
    border: none;
    display: inline-block;
    outline: 0;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}

.sidebar-item {
    width: 100%;
    display: block;
    padding: 8px 16px;
    text-align: left;
    border: none;
    outline: none;
    white-space: normal;
    float: none;
}
